@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homepageNode = Umbraco.Content(1049);
}

@Html.Partial("_subscribe_form")

    <footer>
        <div class="container">
            <div class="lets_connect row">
                <div class="footer_title">
                    @homepageNode.socialLinksTitle
                </div>
                <div class="social_links">
                    <span class="clearfix"><a target="_blank" class="social_links_block tripAdvisorLink" href="@homepageNode.tripAdvisorLink"></a></span>
                    <span class="clearfix"><a target="_blank" class="social_links_block instagram" href="@homepageNode.instagramLink"></a></span>
                    <span class="clearfix"><a target="_blank" class="social_links_block youtube" href="@homepageNode.youtubeLink"></a></span>
                    <span class="clearfix"><a target="_blank" class="social_links_block facebook" href="@homepageNode.facebookLink"></a></span>
                </div>
            </div>
        </div>
        <div class="full-width footer_wrapper clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 footer_col">
                        <div class="footer_title">
                            GETTING HERE
                        </div>
                        <div class="address">
                            Ground floor, 101 Waterfront way, Docklands, VIC 3008, Melbourne
                        </div>
                        <div class="direction">
                            <a href="https://www.google.com/maps/dir//101+Waterfront+Way,+Docklands+VIC+3008,+Australia/%40-37.8116621,144.9361114,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x6ad65d683a9d6809:0x1ac0c1a079d246c7!2m2!1d144.9383001!2d-37.8116621" target="_blank">
                                <img src="/img/direction_arrow.png" style="margin-bottom:6px" /> DIRECTIONS
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 footer_col">
                        <div class="footer_title">
                            INSTAGRAM
                        </div>
                        <div id="instafeed2">
                        </div>
                    </div>
                    <div class="col-sm-4 footer_col">
                        <div class="footer_title">
                            QUICK LINKS
                        </div>

                        

                        <div class="footer_links">
                            @{
                                var homeNode = Umbraco.Content(1049);

                                foreach (var childPage in homeNode.Descendants())
                                {
                                    if (childPage.showInQuickLinks)
                                    {
                                        <div><a href="@childPage.Url">@childPage.pageTitle</a></div>
                                    }
                                }
                            }
                            @*<div><a>Plan Your Visit</a></div>
                            <div><a>Pricing &amp; Ticketing</a></div>
                            <div><a>Buy Tickets</a></div>
                            <div><a>Functions &amp; Events</a></div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright_area">
            <div class="row">
                <div class="footer_bottom_left inline-block">
                    &#169; Melbourne Star Observation Wheel 2011 ABN 84 165 079 390
                </div>
                <div class="pull-right inline-block visible-lg">
                    <ul class="footer_bottom_links">
                        @{
                            foreach (var childPage in homeNode.Descendants())
                            {
                                if (childPage.showInFooterLinks)
                                {
                                    <li class="root inline-block">
                                        <a href="@childPage.Url" class="inline-block ">
                                            @childPage.pageTitle
                                        </a>
                                    </li>
                                }
                            }                
                        }

                        @*<li class="root inline-block">
                            <a href="#" class="inline-block ">
                                Terms &amp; Conditions
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                Disclaimer
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                Privacy
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                about us
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                Sitemap
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                contact
                            </a>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>

    </footer>

