@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var homepageNode = Umbraco.Content(1049);
}

<script type="text/javascript" src="/plugins/instafeed/instafeed.min.js"></script>
<script type="text/javascript" src="/js/project/instagram.js"></script>

@Html.Partial("_subscribe_form")

    <footer>
        <div class="container">
            <div class="lets_connect row">
                <div class="footer_title">
                    @homepageNode.socialLinksTitle
                </div>
                <div class="social_links">
                    <span><a target="_blank" href="@homepageNode.tripAdvisorLink"><img src="/img/tripadvisor_icon.jpg" /></a></span>
                    <span><a target="_blank" href="@homepageNode.instagramLink"><img src="/img/instagram_icon.jpg" /></a></span>
                    <span><a target="_blank" href="@homepageNode.youtubeLink"><img src="/img/youtube_icon.jpg" /></a></span>
                    <span><a target="_blank" href="@homepageNode.facebookLink"><img src="/img/facebook_icon.jpg" /></a></span>
                </div>
            </div>
        </div>
        <div class="full-width footer_wrapper clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 footer_col">
                        <div class="footer_title">
                            GETTING HERE
                        </div>
                        <div class="address">
                            Ground floor, 101 Waterfront way, Docklands, VIC 3008, Melbourne
                        </div>
                        <div class="direction">
                            <a href="#">
                                <img src="/img/direction_arrow.png" style="margin-bottom:6px" /> DIRECTIONS
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 footer_col">
                        <div class="footer_title">
                            INSTAGRAM
                        </div>
                        <div id="instafeed2">
                        </div>
                    </div>
                    <div class="col-sm-4 footer_col">
                        <div class="footer_title">
                            QUICK LINKS
                        </div>
                        <div class="footer_links">
                            <div><a>Plan Your Visit</a></div>
                            <div><a>Pricing &amp; Ticketing</a></div>
                            <div><a>Buy Tickets</a></div>
                            <div><a>Functions &amp; Events</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright_area">
            <div class="row">
                <div class="footer_bottom_left inline-block">
                    &#169; Melbourne Star Observation Wheel 2011 ABN 84 165 079 390
                </div>
                <div class="pull-right inline-block visible-lg">
                    <ul class="footer_bottom_links">
                        <li class="root inline-block">
                            <a href="#" class="inline-block ">
                                Terms &amp; Conditions
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                Disclaimer
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                Privacy
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                about us
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                Sitemap
                            </a>
                        </li>
                        <li class="root">
                            <a href="#" class="inline-block ">
                                contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>


    <!-- instafeed -->
    <script type="text/javascript" src="/plugins/instafeed/instafeed2.min.js"></script>
    <script type="text/javascript" src="/js/project/instagram2.js"></script>


    <!-- The following js files has been used site widely -->
    <script type="text/javascript" src="/js/project/sitewide/transform_view_button.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/full_height_menu.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/body_mask.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/rotate.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/ticket.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/sticky_nav.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/rotate_logo.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/parralax_banner.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/search.js"></script>