@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Newtonsoft.Json.Linq
@{ 
    var bg_img_url = "";
    var carousel = Umbraco.Content(1323);
    var counter = 1;
}

<!-- Bootstrap #Components Carousel -->
@if (carousel.Children.Any()) {
<div class="carousel slide" id="myCarousel">
    <!-- carousel indicator -->
    <ol class="carousel-indicators">

        @for (int ct = 0; ct < carousel.Children.Count(); ct++)
        {
            <li @((ct == 0) ? "class=active" : "") data-slide-to="@counter" data-target="#myCarousel"></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <!-- carousel inner -->

    <div class="carousel-inner">
        
        @foreach (var c in carousel.Children)
        {
            if (c.HasValue("carouselItem"))
            {
                var dynamicMediaItem = Umbraco.Media(c.carouselItem);
                bg_img_url = dynamicMediaItem.umbracoFile;
            }






            if (c.HasValue("internalLink"))
            {
                var linkUrl = "test";

                foreach (var item in c.GetPropertyValue<JArray>("internalLink"))
                {
                    linkUrl = (item.Value<bool>("isInternal")) ? Umbraco.NiceUrl(item.Value<int>("internal")) : item.Value<string>("link");
                }

                <a href='@linkUrl' class="item @((counter == 1) ? "active":"")" id='"slide"+ @counter' style="background: url('@bg_img_url') top center no-repeat;background-size:cover;">
                    <div class="auto-spin carousel-caption @((umbraco.library.GetPreValueAsString(c.captionPosition) == "Left Bottom") ? "left":"") @((umbraco.library.GetPreValueAsString(c.captionPosition) == "Right Top") ? "right":"") clearfix">
                        <div class="banner-text clearfix">
                            <h1>
                                @c.pageTitle
                            </h1>
                            <span class="button button-white">
                                View More
                            </span>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href='#' class="item @((counter == 1) ? "active":"")" id='"slide"+ @counter' style="background: url('@bg_img_url') top center no-repeat;background-size:cover;">
                    <div class="auto-spin carousel-caption @((umbraco.library.GetPreValueAsString(c.captionPosition) == "Left Bottom") ? "left":"") @((umbraco.library.GetPreValueAsString(c.captionPosition) == "Right Top") ? "right":"") clearfix">
                        <div class="banner-text clearfix">
                            <h1>
                                @c.pageTitle
                            </h1>
                            <span class="button button-white">
                                View More
                            </span>
                        </div>
                    </div>
                </a>
            }


            counter++;
        }
        <!--
        <div class="item active" id="slide1" style="background: url('@bg_img_url') top center no-repeat;background-size:cover;">
            <div class="carousel-caption left clearfix">
                <div class="banner-text clearfix">
                    <h1>
                        @Umbraco.Field("sloganTitle")
                    </h1>
                    <a href='#' class="button button-white">
                        @Umbraco.Field("bannerButtonTitle")
                    </a>
                </div>
            </div>
        </div>
        <div class="item" id="slide2" style="background: url('@bg_img_url') top center no-repeat;background-size:cover;">
            <div class="carousel-caption right clearfix">
                <div class="banner-text clearfix">
                    <h1>
                        @Umbraco.Field("sloganTitle")
                    </h1>
                    <a href='#' class="button button-white">
                        @Umbraco.Field("bannerButtonTitle")
                    </a>
                </div>

            </div>
        </div>
        <div class="item" id="slide3" style="background: url('@bg_img_url') top center no-repeat;background-size:cover;">
            <div class="carousel-caption clearfix">
                <div class="banner-text left clearfix">
                    <h1>
                        @Umbraco.Field("sloganTitle")
                    </h1>
                    <a href='#' class="button button-white">
                        @Umbraco.Field("bannerButtonTitle")
                    </a>
                </div>

            </div>
        </div>-->
    </div>
    <!-- end of carousel inner -->
    <div class="carousel-control-bottom container clearfix">
        <a class="left carousel-control" data-slide="prev" href="#myCarousel">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" data-slide="next" href="#myCarousel">
            <span class="icon-next"></span>
        </a>
    </div>
</div>
<!-- End of #Components Carousel -->

<script>
    $(function () {
        //$('.carousel').each(function(){ $(this).carousel({ interval: 3000 }); }); 
        $('#myCarousel').carousel({ interval: 4000 });
    });

</script>
}