@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- Video / Generic Modal -->
<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!-- content dynamically inserted -->
            </div>
        </div>
    </div>
</div>


<div class="whats_new horrizontal-parallax-banner" style="background:url('img/whatsnew_bg_fullscreen.jpg') no-repeat;background-size:108% auto;">
    <div class="container">
        <div class="row">
            <div class="whats_news_title">@Umbraco.Field("whatsNewTitle")</div>
        </div>
        <div class="whats_new_carousel row clearfix">
            
            @{
                var whatson = Umbraco.Content(1072);

                foreach (var c in whatson.Children().Where("NodeTypeAlias == \"newsevents_post\""))
                {
                    var feature_img_url = "";
                    var content = c.pageTitle;
                    feature_img_url = Umbraco.Media(c.featuredImage).umbracoFile;

                    <!-- Template -->
                    <div class="col-md-4 whatsnew_content clearfix">
                        <div class="whats_news_image_wrapper clearfix">
                            <img class="whatsnew_carousel_img img-responsive" src='@feature_img_url' />
                            <span class="whatsnew_hover_content"><span></span></span>
                        </div>
                        <div class="whatsnew_carousel_textarea clearfix">
                            <div class="whatsnew_carousel_title">
                                @c.pageTitle
                            </div>
                            <div class="whatsnew_carousel_content">
                                @c.subTitle
                            </div>
                            @{
                                var viewButtonUrl = c.Url;
                                var newWindow = "";

                                if (c.HasValue("youtubeVideoUrl"))
                                {
                                    <div class="whatsnew_play_button">
                                        <a href="@c.youtubeVideoUrl"><img class="center" style="margin-bottom:15px" src="img/play_icon.png" />WATCH</a>
                                    </div>
                                }
                                else
                                {
                                    if (c.HasValue("externalLink"))
                                    {
                                        viewButtonUrl = c.externalLink;
                                        newWindow = "target='_blank'";
                                    }
                                    <div class="whatsnew_view_button">
                                        <a href="@viewButtonUrl" @newWindow>VIEW</a>
                                    </div>
                                }
                            }
                            
                        </div>
                    </div>
                    <!-- End of Template -->
                }   
            }
        </div>
    </div>
</div>

<script>
    var pa = new Parallax({ className: "horrizontal-parallax-banner" });
    pa.horizontalParallax();
</script>
<!-- End of What's new -->