@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
    var bg_img_url = "";
    var carouselNode = Umbraco.Content(1323);
}

@if (CurrentPage.HasValue("homeBannerImg"))
{
    var dynamicMediaItem = Umbraco.Media(CurrentPage.homeBannerImg);
    bg_img_url = dynamicMediaItem.umbracoFile;
}
<script type="text/javascript" src="/js/project/parallax_featured_scroll.js"></script>


        <div class="box-center-container clearfix right-side horrizontal-parallax-banner" id="parralax-hero" style='@((CurrentPage.showcarousel && (carouselNode.Children.Any())) ? "":"background:url("+@bg_img_url+") no-repeat;background-size:110% auto;")'>
            <!-- Top Nav -->
            @Html.Partial("_top_nav")
            <!-- End of Top Nav -->
            @Html.Partial("_main_nav")



            <!-- Featured home area -->
            @if(!CurrentPage.showcarousel || (!carouselNode.Children.Any())) { 
                <div id="featured_area" class="featured-home">
                    <div class="banner-text clearfix">
                        <h1>
                            @Umbraco.Field("sloganTitle")
                        </h1>
                        <a href='https://online.melbournestar.com/e-commerce/' class="button button-white">
                            @Umbraco.Field("bannerButtonTitle")
                        </a>
                    </div>
                    <div class="floating-star">
                        <img class="img-responsive" src='/img/star.png' />
                    </div>
                </div>
            }
            else
            {
                var carousel = Umbraco.Content(1323);
                if (carousel.Children.Any()) {
                    @Html.Partial("_homeCarousel")
                }
                else
                {
                    <div id="featured_area" class="featured-home">
                        <div class="banner-text clearfix">
                            <h1>
                                @Umbraco.Field("sloganTitle")
                            </h1>
                            <a href='#' class="button button-white">
                                @Umbraco.Field("bannerButtonTitle")
                            </a>
                        </div>
                        <div class="floating-star">
                            <img class="img-responsive" src='/img/star.png' />
                        </div>
                    </div>
                }
            }

            <!-- End of Featured-home -->
            <div class="featured_home_info clearfix" id="featured_home_info">
                <div class="full-screen-container">
                    <div class="col-sm-4 infomation">
                        <h3>
                            <img class="nav_icon" src='/img/nav-icon.jpg' />
                            @Umbraco.Field("firstColTitle")
                        </h3>
                        <div class="info_content">
                            @Umbraco.Field("firstColContent")
                        </div>
                    </div>
                    <div class="col-sm-4 infomation hidden-xs">
                        <h3>
                            <!--<img class="nav_icon" src ='/img/whatson_icon.jpg'/>-->
                            @Umbraco.Field("secondColTitle")
                        </h3>
                        <div class="info_content">
                            @Umbraco.Field("secondColContent")
                        </div>
                        <a id="bouncing_arrow" class="clearfix bounce" href="#">
                            <img src='/img/arrow.jpg' />
                        </a>
                    </div>
                    <div class="col-sm-4 infomation hidden-xs">
                        <h3>
                            @Umbraco.Field("thirdColTitle")
                        </h3>
                        <div class="info_content">
                            <!--<img class="nav_icon hidden-sm" src ='/img/open_today.jpg'/>-->
                            @Umbraco.Field("thirdColContent")
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Featured_home_info -->
        </div>
        <div class="right-bar box-sidebar pull-right"></div>
    </div>
    </header>

    @Html.Partial("_whats_on")

    @Html.Partial("_whats_new")

    <!-- Instagram-->
    <div class="instagram container">
        <div class="row">
            <h1>@Umbraco.Field("instagramTitle")</h1>
            <div class="instagram_subtitle">
                &#64;MELBOURNE_STAR | &#35;MELBOURNESTAR
            </div>
        </div>
        <div class="row ">
            <div id="instafeed" class="instagram"></div>
        </div>
    </div>

    <!-- End of instagram-->

    <!-- Js used only in home page -->
    <script type="text/javascript" src="plugins/instafeed/instafeed.min.js"></script>
    <script type="text/javascript" src="js/final/youtube_modal.js"></script>
    <script type="text/javascript" src="js/final/instagram.js"></script>
    <script type="text/javascript" src="/plugins/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/final/carousel.js"></script>
    <script type="text/javascript" src="/js/final/hoverEffect.js"></script>
    <script type="text/javascript" src="/js/final/scroll_to_whatson.js"></script>
