@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@Umbraco.GetDictionaryValue("Description")">
    <meta name="keywords" content="@Umbraco.GetDictionaryValue("Keywords")">
    <meta name="author" content="@Umbraco.GetDictionaryValue("Author")">

    <meta property="og:title" content="Melbourne Star" />
    <meta property="og:description" content="@Umbraco.GetDictionaryValue("Description")" />
    <meta property="og:url" content="https://www.facebook.com/melbournestarobservationwheel/" />
    <meta property="og:site_name" content="Melbourne Star" />

    <title> @Umbraco.Field("pageTitle") </title>
    <link rel="stylesheet" href="/css/final/style.css" />
    <link rel="shortcut icon" href="~/img/favicon.png" /

    <!-- JS init -->
    <script type="text/javascript" src="/js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- Type kit -->
    <script src="https://use.typekit.net/ety7fje.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular-animate.js"></script>

</head>
<body class="tk-proxima-nova">
    <header>
        <div id="body-mask" class="body-mask">
        </div>
        @Html.Partial("_search_mask")


        <!-- Load mobile nav which should only be displayed in Mobile and Tab view-->
        @Html.Partial("_mobile_nav")
        <!-- Load extra nav which hides in left side of box container. -->
        @Html.Partial("_extra_nav")

        @RenderBody()

        @Html.Partial("_footer")

        <!-- Instafeed -->
        <script type="text/javascript" src="/plugins/instafeed/instafeed2.min.js"></script>
        <script type="text/javascript" src="/js/project/instagram2.js"></script>

        <!-- Concanated JS -->
        <script type="text/javascript" src="/js/final/sitewide.js"></script>

        <!-- Google Anal-->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-22849125-1', 'auto');
            ga('send', 'pageview');
        </script>
        <!--SmartPixel -->
        <script type="text/javascript">
            adroll_adv_id = "QPF7TKCCTRCGDPZDVULTP4";
            adroll_pix_id = "DAJBJYHMSNFH5BES6GAJVJ";
            (function () {
                var _onload = function () {
                    if (document.readyState && !/loaded|complete/.test(document.readyState)) { setTimeout(_onload, 10); return }
                    if (!window.__adroll_loaded) { __adroll_loaded = true; setTimeout(_onload, 50); return }
                    var scr = document.createElement("script");
                    var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                    scr.setAttribute('async', 'true');
                    scr.type = "text/javascript";
                    scr.src = host + "/j/roundtrip.js";
                    ((document.getElementsByTagName('head') || [null])[0] ||
                        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);

                };
                if (window.addEventListener) { window.addEventListener('load', _onload, false); }
                else { window.attachEvent('onload', _onload) }
            }());
        </script>
</body>
</html>
