@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@Umbraco.GetDictionaryValue("Description")">
    <meta name="keywords" content="@Umbraco.GetDictionaryValue("Keywords")">
    <meta name="author" content="@Umbraco.GetDictionaryValue("Author")">

    <title> @Umbraco.Field("pageTitle") </title>
    <link rel="stylesheet" href="/css/final/style.css" />
    <link rel="shortcut icon" href="~/img/favicon.png"/>
    <!-- JS init -->
    <script type="text/javascript" src="/js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular-animate.js"></script>

</head>

<body>
    <header>
    <div id="body-mask" class="body-mask">
    </div>
    @Html.Partial("_search_mask")


    <!-- Load mobile nav which should only be displayed in Mobile and Tab view-->
    @Html.Partial("_mobile_nav")   
    <!-- Load extra nav which hides in left side of box container. -->
    @Html.Partial("_extra_nav")
         
    @RenderBody()
    
    

    @Html.Partial("_footer")
    
    
     
    <!-- instafeed -->
    <script type="text/javascript" src="/plugins/instafeed/instafeed2.min.js"></script>
    <script type="text/javascript" src="/js/project/instagram2.js"></script>


    <!-- The following js files has been used site widely -->
    <script type="text/javascript" src="/js/final/sitewide.js"></script>

    <!--
    <script type="text/javascript" src="/js/project/sitewide/transform_view_button.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/full_height_menu.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/body_mask.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/rotate.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/ticket.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/sticky_nav.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/rotate_logo.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/parralax_banner.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/search.js"></script>
    <script type="text/javascript" src="/js/project/sitewide/signup.js"></script>
        -->

</body>
</html>
