@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}   


            <div class="box-center-container clearfix right-side parallax-banner" style="background:url('/img/banner1.jpg') no-repeat;background-size:cover;">
                @Html.Partial("_top_nav")
                @Html.Partial("_main_nav")
                <div id="navplacehoder" class="navplacehoder hidden">
                </div>
                <!-- Banner area -->
                <div class="banner_area">
                    <div class="mask"></div>
                    <div class="banner-heading sit_left clearfix">
                        <h1>
                            Tickets and Pricing
                        </h1>
                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                    </div>
                </div>
                <!-- End of Banner -->
            </div>
            <div class="right-bar box-sidebar pull-right"></div>
        </div>
    </header>

    <div class="container template_content">
        <div class="row">
            <div class="col-lg-1 visible-lg">
            </div>
            <div class="col-xs-12 col-lg-10">
                <nav class="centered_nav_area clearfix">
                    <ul class="centered_list_nav">
                        <li class="first"><a>All</a></li>
                        <li><a>What's on</a></li>
                        <li><a>Events</a></li>
                        <li><a>Competitions</a></li>
                        <li><a>Offers</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 visible-lg">
            </div>
            <div class="col-xs-12 col-lg-10 three-column-container">
                <div class="row">
                    @{
                        var newsEvent = Umbraco.Content(1067);
                        var feature_img_url = "";
                        var count = 1;

                        foreach (var c in newsEvent.Descendants().Where("NodeTypeAlias == \"newsevents_post\""))
                        {

                            feature_img_url = Umbraco.Media(c.featuredImage).UmbracoFile;


                            <div class="post_list_item col-lg-4 col-sm-6 col-xs-12">
                                <img src="@feature_img_url" class="img-responsive" />
                                <h2>@c.pageTitle</h2>
                                <a class="whats_on" href="#">
                                    whats on
                                </a>
                                <p>
                                    @c.postSubheading
                                </p>
                            </div>

                            if (count % 3 == 0)
                            {
                                <div class="clear"></div>
                            }

                            count++;
                        }
                    }

                </div> 
            </div>


        </div>
    </div>


    <script type="text/javascript" src="/js/project/banner_mask_height_init.js"></script>
