@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
    var banner_img_url = "";

    if(CurrentPage.HasValue("postBannerImage")){
        var bannerImageItem = Umbraco.Media(CurrentPage.postBannerImage);
        banner_img_url = bannerImageItem.UmbracoFile;
    }
    else{
        var bannerImageItem = Umbraco.Media(CurrentPage.Parent().categoryBannerImage);
        banner_img_url = bannerImageItem.UmbracoFile;
    }
    
    

}


            <div id="body-mask" class="body-mask">
            </div>
            <!-- Mobile Menu -->
            <div class="mobile-menu-sidebar hidden-lg clearfix" id="leftMobileMenu">
                <a id="close-mobile" href="#">
                    <img class="pull-right img-responsive" src="/img/close.png"/>
                </a>
                <div class="accordion">
                    <div class="accordion-group hidden-lg">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                <i class="icon-th"></i> Main one
                            </a>
                        </div>
                    </div>
                    <div class="accordion-group hidden-lg">
                        <div class="accordion-heading collapsed_item">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseMainTwo">
                                <i class="icon-list-alt"></i> Main two
                            </a>
                        </div>

                        <div id="collapseMainTwo" class="accordion-body collapse" style="height: 0px; ">
                            <div class="accordion-inner">
                                <ul>
                                    <li><a href='#'>This is one</a></li>
                                    <li><a href='#'>This is two</a></li>
                                    <li><a href='#'>This is three</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group hidden-lg">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                <i class="icon-th"></i> Main three
                            </a>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                <i class="icon-th"></i> Layout
                            </a>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                <i class="icon-th-list"></i> UI Components
                            </a>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading collapsed_item">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#cf">
                                <i class="icon-list-alt"></i> Forms
                            </a>
                        </div>

                        <div id="cf" class="accordion-body collapse" style="height: 0px; ">
                            <div class="accordion-inner">
                                <ul>
                                    <li><a href='#'>This is one</a></li>
                                    <li><a href='#'>This is two</a></li>
                                    <li><a href='#'>This is three</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                <i class="icon-cog"></i> Plugins
                            </a>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                <i class="icon-file"></i> Templates
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-container clearfix" id="box-container" >
                <div class="left-bar box-sidebar pull-left" id="left-bar">
                    <!-- More Menu Component -->
                    <button type="button" role="button" id="view_more_button" aria-label="Toggle Navigation" class="lines-button arrow arrow-left visible-lg">
                        <span class="lines"></span>
                    </button>

                    <div class="accordion" id="leftMenu">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                    <i class="icon-th"></i> Layout
                                </a>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                    <i class="icon-th-list"></i> UI Components
                                </a>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading collapsed_item">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                                    <i class="icon-list-alt"></i> Forms
                                </a>
                            </div>

                            <div id="collapseFour" class="accordion-body collapse" style="height: 0px; ">
                                <div class="accordion-inner">
                                    <ul>
                                        <li><a href='#'>This is one</a></li>
                                        <li><a href='#'>This is two</a></li>
                                        <li><a href='#'>This is three</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                    <i class="icon-cog"></i> Plugins
                                </a>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#">
                                    <i class="icon-file"></i> Templates
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- End of Mobile Menu Component -->

                    <!--
                    <button type="button" class="navbar-toggle collapsed pull-right lines-button arrow-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="nav-button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    -->
                    <!--<a class="view-more-text">More</a>-->
                </div>

                

                <div class="box-center-container clearfix right-side parallax-banner" style="background:url('@banner_img_url') no-repeat;background-size:cover;">
                    <!-- Top Nav -->
                    <div class="top_nav">
                        <div class="full-screen-container visible-lg">
                            <!-- Search component -->
                            <div class="search inline-block">
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle inline-block search_button" data-toggle="dropdown">
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="navbar--list-item">
                                                <form action="#" method="post">
                                                    <input type="text" value="" placeholder="Enter key words ..." />
                                                    <a href="#" class="submit search_button pull-right">
                                                    </a>
                                                </form>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of search component -->

                            <!-- Language component -->
                            <div class="language inline-block">
                                <ul class="nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle inline-block" data-toggle="dropdown">
                                            <img src="/img/ausflag.jpg" alt="$alt" class="center block "/>
                                            <span class="block text">AUS</span>
                                            <img src="/img/arrow_down.jpg" class="center block"/>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="navbar--list-item">
                                                <a class="menu--link" href="#">
                                                    <img src="/img/ausflag.jpg" alt="$alt" />
                                                    <span>English</span>
                                                </a>
                                            </li>
                                            <li class="navbar--list-item">
                                                <a class="menu--link" href="#">
                                                    <img src="/img/cnflag.jpg" alt="$alt" />
                                                    <span>Chinese</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- Language component -->


                            <nav class="navbar inline-block contact-us">
                                <ul class="nav navbar-nav level-1">
                                    <li class="root">
                                        <!-- Link tag only if link is present in backend -->
                                        <a href="$link">
                                            <!-- END IF -->
                                            <span class="menu--link-text current-parent">Contact Us</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End of Top Nav -->
                    <!-- Main Nav -->
                    <div class="main_nav clearfix" id="main_navigation">
                        <div class="full-screen-container">
                            <!-- Mobile Menu Component -->
                            <div class="mobile-menu hidden-lg">
                                <!--
                                <button type="button" role="button" aria-label="Toggle Navigation" class="lines-button arrow arrow-left pull-right visible-lg">
                                  <span class="lines"></span>
                                </button>-->


                                <button type="button" class="navbar-toggle collapsed pull-left lines-button arrow-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="nav-button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- logo -->
                            <div class="rotating_logo_div logo left visible-lg">
                                <a href="/" class="rotate_logo clearfix" id="rotate_logo_trigger">
                                    <img src="/img/wheel.png" id="rotate_logo"/>
                                    <div class="logo_text">
                                        <span class="white">Melbourne</span>
                                        <span class="green">Star</span>
                                    </div>

                                </a>
                            </div>
                            <div class="logo inline-block left hidden-lg" id="logo">
                                <a href="#" class="logo_span"></a>
                            </div>

                            <!-- ticket -->
                            <div class="buy_tickets inline-block right visible-lg">
                                <span class="uppercase"><a href="https://online.melbournestar.com/e-commerce/">Buy Ticket</a></span>
                                <!-- Put buy ticket div in here but use absolute position -->


                            </div>
                            <!-- main navbar -->
                            <nav class="navbar inline-block pull-right visible-lg" id="main_nav">
                                <ul class="nav navbar-nav level-1">
                                    <li class="root">
                                        <!-- Link tag only if link is present in backend -->
                                        <a class="dropdown-toggle menu--link" href="ticket_pricing.html">
                                            <!-- END IF -->
                                            <span class="menu--link-text current-parent">ticket & pricing</span>
                                            <!-- Control to use: -->
                                            <i class="icon menu--icon "></i>

                                        </a>
                                    </li>
                                    <li class="root">
                                        <!-- Link tag only if link is present in backend -->
                                        <a class="dropdown-toggle menu--link" href="news_events.html">
                                            <!-- END IF -->
                                            <span class="menu--link-text current-parent">news & events</span>
                                            <!-- Control to use: -->
                                            <i class="icon menu--icon "></i>
                                        </a>
                                    </li>
                                    <li class="root">
                                        <!-- Link tag only if link is present in backend -->
                                        <a class="dropdown-toggle menu--link" href="function.html">
                                            <!-- END IF -->
                                            <span class="menu--link-text current-parent">functions & catering</span>
                                            <!-- Control to use: -->
                                            <i class="icon menu--icon "></i>
                                        </a>
                                    </li>

                                    <li class="root dropdown">
                                        <!-- Link tag only if link is present in backend -->
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <span class="menu--link-text current-parent">Dropdown Sample</span>
                                            <span class="arrow_down"></span>
                                        </a>
                                        <!-- Second level Nav Item -->
                                        <ul class="dropdown-menu level-2">
                                            <li class="">
                                                <a class="" href="#">
                                                    <span class="">This is a very long sample name</span>
                                                </a>
                                            </li>
                                            <li class="">
                                                <a class="" href="#">
                                                    <span class="">Sample</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End of Main Nav -->
                    <div id="navplacehoder" class="navplacehoder hidden">

                    </div>
                    <!-- Banner area -->
                    <div class="banner_area">
                        <div class="mask"></div>
                        <div class="banner-heading sit_left clearfix">
                            <h1>
                                @CurrentPage.pageTitle
                            </h1>
                            <p>@CurrentPage.postSubheading</p>
                        </div>
                    </div>
                    <!-- End of Banner -->
                </div>
                <div class="right-bar box-sidebar pull-right"></div>
            </div>
        </header>



        <!-- template content area -->
        @{                       
            var newsNevent = Umbraco.Content(1067);
        }
        <div class="container two_column template_content">
            <div class="row">
                <div class="pull-left post_pagenation_nav">
                    <a href="@newsNevent.Url">&lt; BACK TO NEWS EVENTS</a>
                </div>
                <div class="pull-right post_pagenation_nav">
                    @{
                        var prevNode = CurrentPage.Previous();
                        var nextNode = CurrentPage.Next();

                        if(prevNode != null){
                            <div class="post_nav_prev inline-block">
                                <a href="@prevNode.Url"> &lt; PREV</a>
                            </div>
                        }

                        if(nextNode != null){
                            <div class="post_nav_next inline-block">
                                <a href="@nextNode.Url">NEXT &gt;</a>
                            </div>
                        }
                    }
                </div>
                <div class="post_content">
                    <div class="post_heading">
                        <h2>@CurrentPage.pageTitle</h2>
                    </div>
                    <div class="post_description">
                        @Html.Raw(CurrentPage.postContent)
                    </div>
                </div>

            </div>

            
            <div class="post_related_articles ">
                <div class="post_related_articles_title row">
                    <h2>RELATED ARTICLES</h2>
                </div>
                <div class="post_related_posts row">

                    @{
                        var currentNodeId = CurrentPage.Id;
                        var parentNode = CurrentPage.Parent();
                        var postImageUrl = "";
                        var count = 0;

                        foreach(var c in parentNode.Children()){
                            if(c.Id != currentNodeId && count < 3){
                                postImageUrl = Umbraco.Media(c.featuredImage).UmbracoFile;
                                <div class="col-xs-4 related_post_column">
                                    <a href="@c.Url"><img class="related_post_img" src="@postImageUrl" /></a>
                                    <div class="post_article_title">
                                        <a href="@c.Url"><h4>@c.pageTitle</h4></a>
                                    </div>
                                    <div class="post_category">
                                        @c.Parent().pageTitle
                                    </div>
                                    <div class="post_article_description">
                                        @c.postSubheading
                                    </div>
                                </div>
                                count++;
                            }
                        }
                    }
                       
                </div>
            </div>
        </div>

        <!-- end of template content -->

        <!-- Js used only in post page -->
        <script type="text/javascript" src="/js/project/striped_table.js"></script>
        <script type="text/javascript" src="/js/project/banner_mask_height_init.js"></script>
